@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1d2023;
  --profemina-blue: #2059a8;
  --profemina-blue-dark: #1d4482;
  --profemina-blue-light: #2272b9;
  --profemina-gray: #808284;
  --profemina-light-gray: #dbdcde;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-blue-profemina: var(--profemina-blue);
  --color-blue-profemina-dark: var(--profemina-blue-dark);
  --color-blue-profemina-light: var(--profemina-blue-light);
  --color-gray-profemina: var(--profemina-gray);
  --color-light-gray-profemina: var(--profemina-light-gray);
  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}
